<nav class="navbar navbar-expand-lg navbar-dark bg-dark ftco_navbar ftco-navbar-light" id="ftco-navbar">
    <div class="container d-flex align-items-center">
        <a class="navbar-brand" href="index.html">Kiddos</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
            aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active"><a href="home" class="nav-link pl-0">Trang Chủ</a></li>
                <li class="nav-item"><a href="about" class="nav-link">Chúng tôi</a></li>
                <li class="nav-item"><a href="consultant" class="nav-link">Tư vấn viên</a></li>
                <li class="nav-item"><a href="video" class="nav-link">Video</a></li>
                <li class="nav-item"><a href="question" class="nav-link">Câu hỏi</a></li>
                <li class="nav-item"><a href="blog" class="nav-link">Diễn đàn</a></li>
                <li class="nav-item"><a href="you" class="nav-link">Bạn</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- END nav -->