<div class="wrapper ">

	<div class="main-panel">

		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-8">
						<div class="card">
							<div class="card-header card-header-primary">
								<h4 class="card-title">Thông tin của bạn</h4>
								<p class="card-category">Được bảo mật</p>
							</div>
							<div class="card-body">
								<form>
									<div class="row">
										<div class="col-md-3">
											<div class="form-group">
												<label class="bmd-label-floating">Mã của bạn</label>
												<input type="text" placeholder="0343645" class="form-control" disabled>
											</div>
										</div>
										<div class="col-md-3">
											<div class="form-group">
												<label class="bmd-label-floating">Nickname</label>
												<input type="text" placeholder="Tencucsoc" class="form-control">
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label class="bmd-label-floating">Email</label>
												<input type="email" placeholder="1553040@student.hcmus.edu.vn" class="form-control">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-4">
											<div class="form-group">
												<label class="bmd-label-floating">Tên</label>
												<input type="text" placeholder="Thế" class="form-control">
											</div>
										</div>
										<div class="col-md-5">
											<div class="form-group">
												<label class="bmd-label-floating">Họ</label>
												<input type="text" placeholder="Đỗ" class="form-control">
											</div>
										</div>
										<div class="col-md-3">
											<label class="bmd-label-floating">Giới tính</label>
											<select class="form-control" id="Gender" placeholder="Nam+">
												<option>Nam</option>
												<option>Nữ</option>
												<option>Nam+</option>
												<option>Nữ+</option>
												
											</select>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<label class="bmd-label-floating " placeholder="2/2">Địa chỉ</label>
												<input type="text" placeholder="2/2" class="form-control">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-4">
											<div class="form-group">
												<label class="bmd-label-floating">Quận/ Huyện</label>
												<input type="text" placeholder="Quận 1" class="form-control">
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<label class="bmd-label-floating">Thành phố</label>
												<input type="text" placeholder="HCM" class="form-control">
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<label class="bmd-label-floating">Số điện thoại</label>
												<input type="text" placeholder="+84123345" class="form-control">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<label>Lời nói yêu thích</label>
												<div class="form-group">
													<label class="bmd-label-floating"> </label>
													<textarea class="form-control"
														placeholder="Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo."
														rows="5"></textarea>
												</div>
											</div>
										</div>
									</div>
									<button type="submit" class="btn btn-primary pull-right">Cập nhật thông tin</button>
									<div class="clearfix"></div>
								</form>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card card-profile">
							<div class="card-avatar">
								<a href="#pablo">
									<img class="img" style="width: 18rem;" src="images/teacher-6.jpg" />
								</a>
							</div>
							<div class="card-body">
								<h6 class="card-category text-gray">CEO / Co-Founder</h6>
								<h4 class="card-title">Alec Thompson</h4>
								<p class="card-description">
									Don't be scared of the truth because we need to restart the human foundation in truth And I love you
									like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
								</p>
								<a href="#pablo" class="btn btn-primary btn-round">Follow</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>